.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4rem 5vw;
  padding: 0;
}

.wrapper {
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  padding: 30px;
  background: ivory;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}

.searcher {
  padding: 8px;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.location_input {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #333;
  border-radius: 5px;
}

.city, .desc {
  text-align: center;
}

.icon {
  text-align: center;
}

.wIcon {
  font-size: 10rem;
}

.temp, .humid {
  margin: 5px;
  text-align: center;
}