.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4rem 5vw;
  padding: 0;
}

.wrapper {
  text-align: center;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  padding: 30px;
  background: ivory;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}

.searcher {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

.searcher:hover {
  cursor: pointer;
}


.location_input {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: black;
  border-radius: 5px;
}

.city {
  font-size: 2rem;
  margin: 2rem 0 1rem 0;
}

.wIcon {
  display: inline-block;
  margin: 10px;
}

.temp, .humid {
  margin: 10px;
}